#
# Copyright (c) 2025 - for information on the respective copyright owner
# see the NOTICE file and/or the repository https://github.com/carbynestack/governance.
#
# SPDX-License-Identifier: CC-BY-4.0
#

# IntelliJ
.idea
*.ipr
*.iml
*.iws
